#edit settings and copy this to credentials.py

### SUPER SECRET ###
GROUPME_TOKEN="groupme token here"
DISCORD_BOT_TOKEN="discord bot token"
### SUPER SECRET END ###

settings = [
    {
        'bot_id': "groupme_bot_id",  
        'channel_name': "cs_memes",  # discord
        'webhook_url': "discord_webhook_url",
        'local_port': 42069  # server internal port
    }
]